html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

a img {
  border: none;
}

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block;
}

.row_clear:after, #container:after, .listItems:after, .nav-top:after, .nav-top ul:after, .body-page:after, .news-content .row-news-items:after, .right_clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

body {
  font-family: "roboto condensed", sans-serif;
  color: #333;
  font-size: 14px;
  position: relative;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #416557;
  text-decoration: none;
}

a:focus {
  color: #416557;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-family: "roboto condensed", sans-serif;
  font-weight: normal;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

button:focus, input:focus, a:focus {
  outline: none;
}

/*------------------- Wraper -------------------*/
#container {
  width: 900px;
  margin: 0 auto;
}

/*------------------- Typography -------------------*/
.title-slider {
  text-align: center;
  text-transform: uppercase;
  padding: 30px 0 0;
  border-bottom: 1px solid #e6e6e6;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title-slider h2 {
  font-weight: bold;
}

.title-slider.title-products-other h2 {
  color: #333;
}

.title-products {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}

.description {
  font-size: 20px;
  line-height: 34px;
  text-align: justify;
}

.title_h2 {
  text-align: center;
}

.title_h3 {
  margin-bottom: 16px;
}

.title_h6 {
  font-size: 14px;
}

.btn {
  text-align: center;
}

/*------------------- List -------------------*/
.tab-pane.product-tab {
  margin: 0 -5px;
}

.carousel-inner .item {
  margin: 0 -5px;
}

.items-product {
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 30px;
}

.items-product:hover .wrapitems {
  border: 1px solid #e6e6e6;
}

.items-product:hover .order {
  opacity: 1;
  display: block;
}

.items-product .wrapitems {
  position: relative;
  border: 1px solid transparent;
}

.items-product .watermark1:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("../images/sale-product.png") no-repeat;
  width: 52px;
  height: 52px;
}

.items-product .watermark2:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("../images/new-product.png") no-repeat;
  width: 52px;
  height: 52px;
}

.items-product .description {
  text-align: center;
}

.items-product .description h4 {
  font-size: 16px;
}

.items-product .description .made-in {
  color: #777;
  font-size: 14px;
}

.items-product .description .price {
  color: #d60c0c;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.items-product .order {
  opacity: 0;
}

.nav-slider {
  z-index: 99;
  position: absolute;
  top: 45px;
}

.nav-slider#nav-left {
  position: relative;
  top: 0;
}

.nav-slider#nav-left .heading-nav {
  width: 100%;
}

.nav-slider#nav-left .heading-nav > a:after {
  background: none;
}

.nav-slider#nav-left #rau-nav, .nav-slider#nav-left #cu-nav, .nav-slider#nav-left #qua-nav, .nav-slider#nav-left #thit-nav, .nav-slider#nav-left #haisan-nav {
  padding-top: 10px;
  padding-left: 30px;
  line-height: 30px;
}

.nav-slider#nav-left .icon-has {
  float: right !important;
  padding-right: 20px;
}

.nav-slider#nav-left .icon-has:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  display: block;
}

.nav-slider .heading-nav {
  background: url("../images/icon-hand.png") no-repeat 90%;
}

.nav-slider .heading-nav:not(:last-child) {
  margin-bottom: 6px;
}

.nav-slider .heading-nav > a {
  position: relative;
  border-radius: 20px;
  font-size: 16px;
  text-transform: uppercase;
  background: url("../images/icon-line.png") no-repeat 20px;
  background-color: #416557;
  color: #ffffff;
  width: 220px;
  height: 46px;
  display: block;
  padding: 15px 0 10px 60px;
}

.nav-slider .heading-nav > a:after {
  content: "";
  position: absolute;
  top: 13px;
  right: 20px;
  width: 21px;
  height: 18px;
  background: url("../images/icon-hand.png") no-repeat;
}

.nav-slider .heading-nav.rau-background > a {
  background: url("../images/icon-rau.png") no-repeat 20px;
  background-color: #39b54a;
}

.nav-slider .heading-nav.cu-background > a {
  background: url("../images/icon-cu.png") no-repeat 20px;
  background-color: #905d14;
}

.nav-slider .heading-nav.qua-background > a {
  background: url("../images/icon-qua.png") no-repeat 20px;
  background-color: #ff6626;
}

.nav-slider .heading-nav.thit-background > a {
  background: url("../images/icon-thit.png") no-repeat 20px;
  background-color: #cb3d2f;
}

.nav-slider .heading-nav.ca-background > a {
  background: url("../images/icon-ca.png") no-repeat 20px;
  background-color: #6fb0d0;
}

.nav-slider .toggle-in, .nav-slider .toggle-sub-in {
  display: none;
}

.wrap-breadcrumb {
  background: #f9f9f9;
}

.wrap-breadcrumb .breadcrumb {
  margin-bottom: 0px;
  background: #f9f9f9;
}

.wrap-breadcrumb .breadcrumb a {
  color: #999999;
  font-size: 13px;
}

.phantrang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phantrang li {
  border-radius: 5px;
  background: #d7d7d7;
  margin: 0 3px;
}

.phantrang li a {
  display: inline-block;
  padding: 10px 14px;
}

.phantrang li.active {
  color: #ffffff;
  background: #416557;
}

.phantrang li.active:hover a {
  color: #ffffff;
}

.bg-blur {
  position: relative;
}

.bg-blur:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.bg-gradient {
  padding-bottom: 60px !important;
  position: relative;
}

.bg-gradient:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 63px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.1));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
}

.order {
  -webkit-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.order a {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  background: url("../images/icon-cart.png") no-repeat 12% #416557;
  padding: 12px 0 10px;
  text-align: center;
}

.btn-control-slider {
  position: relative;
  bottom: -1px;
}

.right-sidebar .panel {
  margin-bottom: 30px;
}

.right-sidebar .panel.panel-default {
  border-radius: 0px;
  border: 1px solid #e6e6e6;
}

.right-sidebar .panel .panel-body {
  font-size: 12px;
  padding: 15px 0;
  margin-left: 15px;
  margin-right: 15px;
}

.right-sidebar .panel .panel-body:not(:last-child) {
  border-bottom: 1px solid #e6e6e6;
}

.right-sidebar .panel-heading {
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 0;
  text-transform: uppercase;
  background: #416557;
  border-bottom: 0;
}

.right-sidebar .panel-heading.other {
  background: #ffffff;
  color: #777;
  padding-bottom: 0;
}

.right-sidebar .other-news .avatar-other {
  padding-right: 0;
}

.right-sidebar .other-news .detail-other {
  padding-left: 10px;
}

/*======================================
        Header
======================================*/
.header .headerIn {
  padding-top: 30px;
  padding-bottom: 24px;
  background: #416557;
}

.header .logo {
  z-index: 99;
  position: absolute;
  top: calc(50% - 60px);
}

.header .title-logo {
  margin-top: 5px;
}

.header .cart {
  position: relative;
}

.header .cart .number-cart {
  position: absolute;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #f78f1e;
  top: 5px;
  left: 2px;
  width: 20px;
  height: 20px;
}

.header .search-bar form {
  position: relative;
}

.header .search-bar input {
  width: 100%;
  height: 40px;
  text-indent: 20px;
  border-radius: 20px;
  border: 1px solid #f78f1e;
  background: url("../images/icon-search.png") no-repeat 98%;
  background-color: #ffffff;
}

.header .search-bar button {
  background: transparent;
  width: 30px;
  height: 30px;
  border: 0;
  position: absolute;
  top: 5px;
  right: -8px;
}

.nav-top {
  background: #f0f0f0;
}

.nav-top ul {
  float: right;
}

.nav-top ul li {
  float: left;
  padding: 15px;
}

.nav-top ul li a {
  color: #416557;
}

/*======================================
        body-page
======================================*/
/*======================================
        section-slider
======================================*/
.section-slider {
  position: relative;
}

.section-slider img {
  width: 100%;
}

/*======================================
        section-01
======================================*/
.section-01 .title-tab {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 0 15px;
  border-bottom: 1px solid #e6e6e6;
}

.section-01 .title-tab h3 {
  padding: 0 18px;
}

.section-01 .title-tab li a {
  color: #999999;
}

.section-01 .title-tab li.active a {
  color: #416557;
}

.section-01 .title-tab li:hover a {
  color: #416557;
}

.section-01 .title-tab .listItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*======================================
        section-02
======================================*/
.section-02 {
  padding-bottom: 30px;
}

/*======================================

        Page --- contact.html

======================================*/
.contact-content {
  padding: 30px 0;
}

.contact-content .title-contact {
  font-size: 18px;
  padding: 30px 0 12px;
  margin-bottom: 20px;
  color: #ff6626;
  text-transform: uppercase;
  border-bottom: 1px solid #e6e6e6;
}

.contact-content .title-contact.first {
  padding-top: 0px;
}

.contact-content .text {
  font-size: 14px;
  line-height: 24px;
}

.contact-content .btn-primary {
  margin-top: 10px;
  padding: 10px 35px;
  font-size: 16px;
}

.contact-content .map-contact iframe {
  width: 100%;
  height: 350px;
}

/*======================================

        Page --- products.html

======================================*/
.products-contents {
  padding-top: 30px;
}

.products-contents .title-products-main {
  padding: 0px 0 15px;
  border-bottom: 1px solid #e6e6e6;
}

.products-contents .title-products {
  padding: 10px 0 0;
}

.products-contents .sort-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.products-contents .sort-products select {
  margin-left: 5px;
  margin-right: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 5px 40px 5px 5px;
  border: 1px solid #e6e6e6;
  background: url("../images/arrow-down.png") no-repeat 90%;
}

.products-contents .sort-products select:last-child {
  margin-right: 0;
}

.products-contents .phantrang {
  padding-top: 60px;
}

/*======================================

        Page --- news.html & news-detail.html

======================================*/
.news-content {
  padding-top: 30px;
}

.news-content .row-news-items {
  padding-bottom: 30px;
}

.news-content .row-news-items.last {
  padding-bottom: 0px;
}

.news-content .phantrang {
  padding-top: 30px;
}

.news-content .detail-news .title-news-items {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3;
}

.news-content .detail-news .fa {
  padding: 10px 5px 10px 0;
}

.news-content .detail-news .date-news {
  font-style: italic;
  color: #999999;
  font-size: 12px;
}

.news-content .detail-news .note-news {
  font-size: 12px;
  font-style: italic;
  line-height: 1.4;
  color: #999999;
}

.news-content .detail-news .text-short {
  line-height: 1.4;
  font-size: 12px;
}

.news-content .detail-news .text p {
  font-size: 12px;
  line-height: 1.4;
  padding: 15px 0;
}

/*======================================

        Page --- product-details

======================================*/
.product-details {
  padding-top: 30px;
}

.product-details .img-avatar {
  border-bottom: 1px solid #e6e6e6;
}

.product-details .items-img-thumb {
  padding: 8px;
}

.product-details .items-img-thumb img {
  border: 1px solid #e6e6e6;
}

.product-details .detail-product-select .title-h2 {
  font-size: 24px;
  color: #333;
  padding-bottom: 10px;
}

.product-details .detail-product-select .madein {
  font-size: 14px;
  color: #777;
}

.product-details .detail-product-select .price-product {
  padding: 20px 0 13px;
  color: #d60c0c;
  font-weight: bold;
  font-size: 30px;
}

.product-details .detail-product-select .price-product span {
  font-size: 18px;
  color: #777;
}

.product-details .detail-product-select .status-product {
  font-size: 14px;
}

.product-details .detail-product-select .status-product span {
  color: #ff6626;
}

.product-details .detail-product-select .description-product {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0;
  margin: 15px 0;
  color: #777;
}

.product-details .detail-product-select .description-product h5 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.product-details .detail-product-select .description-product p {
  line-height: 22px;
}

.product-details .description-post-product .title-h3 {
  padding-top: 30px;
  font-size: 14px;
  color: #777;
  font-weight: bold;
  text-transform: uppercase;
}

.product-details .description-post-product p {
  font-size: 16px;
  padding: 10px 0;
  line-height: 22px;
}

.product-details .description-post-product img {
  margin: auto;
  display: block;
}

.product-details .order-product input {
  width: 60px;
  height: 36px;
  text-align: center;
  margin: 0 30px 0 15px;
}

.product-details .order-product button {
  width: 240px;
  height: 36px;
  background: #f78f1e;
  color: #ffffff;
  border: 0;
}

.product-details .order-product .fa {
  padding-right: 10px;
}

/*======================================
        Footer
======================================*/
.footer {
  background: #f9f9f9;
  margin-top: 30px;
}

.footer .chinhsach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .camket {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .camket .note-camket {
  padding-left: 10px;
  font-size: 14px;
  color: #777;
}

.footer .camket .note-camket h5 {
  font-size: 20px;
}

.footer .mail {
  background: url("../images/chungnhan.png") no-repeat 100% #ffffff;
  border: 1px solid #e6e6e6;
  padding: 25px 0;
}

.footer .mail .title-mail {
  background: url("../images/icon-mail.png") no-repeat 10%;
  padding-left: 100px;
  border-right: 1px solid #e6e6e6;
  line-height: 24px;
  width: 100%;
  max-width: 280px;
}

.footer .mail .box-mail {
  width: 100%;
  max-width: 630px;
}

.footer .mail .box-mail input {
  background: #e6e6e6;
  padding: 12px 10px;
  height: 38px;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.footer .mail .box-mail input::-webkit-input-placeholder {
  color: #777;
}

.footer .mail .box-mail button {
  border: 1px solid #416557;
  height: 38px;
  padding: 0 28px;
  background: #416557;
  color: #ffffff;
  font-size: 16px;
}

.footer .thongtinlienhe {
  padding-top: 30px;
  font-size: 14px;
}

.footer .thongtinlienhe h2 {
  text-transform: uppercase;
  font-size: 18px;
}

.footer .thongtinlienhe .mocua h2 {
  padding-bottom: 20px;
}

.footer .thongtinlienhe .lienhe {
  font-size: 12px;
  line-height: 27px;
}

.footer .thongtinlienhe .vechungtoi {
  line-height: 27px;
}

.footer .thongtinlienhe .chungnhan .img-chungnhan {
  padding-top: 15px;
}

.footer .thongtinlienhe .chungnhan .img-social {
  padding-top: 20px;
}

.footer .copyright {
  font-size: 14px;
  background: #416557;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
  padding: 23px 0;
}

/*-----------------------
        Responsive for device < 1200px
-----------------------------------------*/

/*-----------------------
        Responsive for device < 780px
-----------------------------------------*/

.carousel-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel-control img {
  width: auto;
  max-width: 100%;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/*======================================
            Helper
======================================*/
.is_pc {
  display: inherit;
}

.is_sp {
  display: none;
}

.is_hidden {
  display: none;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.float_left {
  float: left;
}

.right_clear {
  float: right;
}

.float_right {
  float: right !important;
}

.brd_none {
  border: 0 !important;
}

.mgr_left_15 {
  display: inline-block;
  margin-left: 15px;
}

.rau {
  color: #39b54a;
}

.cu {
  color: #905d14;
}

.qua {
  color: #ff6626;
}

.thit {
  color: #cb3d2f;
}

.thuysan {
  color: #6fb0d0;
}

.rau-bg {
  background-color: #39b54a;
}

.cu-bg {
  background-color: #905d14;
}

.qua-bg {
  background-color: #ff6626;
}

.thit-bg {
  background-color: #cb3d2f;
}

.thuysan-bg {
  background-color: #6fb0d0;
}

.btn-primary {
  background: #416557;
  border: 1px solid #416557;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  /*------------------- Typography_SP -------------------*/
  p {
    text-align: justify;
  }

  .nav-slider {
    top: inherit;
    bottom: 0;
  }

  .nav-slider .heading-nav {
    float: left;
    width: 20%;
  }
}

@media screen and (max-width: 780px) {
  .is_sp {
    display: block;
  }

  .is_pc {
    display: none;
  }

  .container {
    width: 100%;
  }
  /*-----------------------                                 Components
    -----------------------*/
  .section-slider {
    display: none;
  }

  .nav-slider .heading-nav > a {
    width: 100%;
  }

  .right-sidebar {
    padding-top: 30px;
  }

  .phantrang {
    padding: 30px 0;
  }
  /*-----------------------                                 Header
    -----------------------*/
  .header .logo {
    position: relative;
    text-align: center;
  }

  .header .title-logo {
    margin: 10px 0;
    text-align: center;
  }

  .btn-toggle {
    padding: 10px;
  }

  .btn-toggle:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
  }

  .btn-toggle .fa-bars {
    float: right;
    font-size: 40px;
    color: #416557;
  }

  .nav-top {
    display: none;
  }

  .nav-top ul {
    float: none;
  }

  .nav-top ul li {
    width: 100%;
    padding: 0;
  }

  .nav-top ul li:not(:last-child) {
    border-bottom: 1px solid #416557;
  }

  .nav-top ul li a {
    display: block;
    padding: 15px 15px 15px 0;
  }
  /*-----------------------                                 products.html
    -----------------------*/
  .products-content .title-products-main h2 {
    text-align: center;
    font-weight: bold;
    color: #416557;
    padding-bottom: 20px;
  }

  .products-content .sort-products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .products-content .sort-products select {
    margin-right: 20px;
  }
  /*-----------------------                                 product-details.html
    -----------------------*/
  .product-details .img-avatar {
    text-align: center;
  }

  .product-details .order-product input {
    margin: 0 15px;
  }

  .product-details .order-product button {
    width: 170px;
  }
  /*-----------------------                                 news.html
    -----------------------*/
  .news-content .row-news-items {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0;
    text-align: justify;
  }

  .news-content .avatar {
    padding-left: 0;
  }

  .news-content .detail-news {
    padding-left: 0;
    padding-right: 0;
  }
  /*-----------------------                                 contact.html
    -----------------------*/
  .capcha {
    padding-bottom: 10px;
  }
  /*-----------------------                                 Footer
    -----------------------*/
  .footer .chinhsach {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 5%;
  }

  .footer .mocua {
    display: none;
  }

  .footer h2 {
    font-weight: bold;
    color: #416557;
    padding-top: 20px;
  }

  .footer .thongtinlienhe {
    padding-top: 0;
  }

  .footer .thongtinlienhe .chungnhan .img-chungnhan {
    padding-left: 0;
  }

  .footer .thongtinlienhe .chungnhan .img-social {
    padding-top: 15px;
  }

  .footer .copyright {
    padding: 10px 0;
  }
}
