/*------------------- Wraper -------------------*/
.wrapper {
    // ...
}
.row_clear {
    @extend %clearfix;
}
#container {
    width: 900px;
    margin: 0 auto;
    // padding: 0 15px;
    @extend %clearfix;
}
/*------------------- Typography -------------------*/

.title-slider {
    text-align: center;
    text-transform: uppercase;
    padding: 30px 0 0;
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    h2 {
        font-weight: bold;
    }
    &.title-products-other {
        h2 {
            color: $color-c;
        }
    }
}
.title-products {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.description {
    // font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
    font-size: 20px;
    line-height: 34px;
    text-align: justify;
}
.title_h2 {
    // font-size: 24px;
    // color: $color-primary;
    // line-height: 1.8;
    // font-weight: bold;
    text-align: center;
}
.title_h3 {
    margin-bottom:16px;
}
.title_h5 {
    // font-size: 15px;
    // font-family: $font-heading;
}
.title_h6 {
    font-size: 14px;
    // line-height: 1.8;
    // color: $color-primary;
    // font-weight: bold;
}
.title_A {
    // font-size: 24px;
    // color: $color-primary;
    // line-height: 1.8;
    // font-weight: bold;
}
.title_B {
    // font-size: 24px;
    // line-height: 1.8;
    // color: $color-primary;
    // font-weight: bold;
}
.title_h4 {
    // font-size: 24px;
    // color: $color-primary;
    // line-height: 1.8;
    // font-weight: bold;
}
.text {
    // padding:
    // font-size: ;
    // color:
}

// /*------------------- Form -------------------*/
input {
    // padding:
    // border:
    &:focus {

    }
}
select {
    // padding:
    // border:
}
textarea {
    // padding:
    // border:
}
.btn {
    text-align: center;
    // padding:
    // border:
    // background:
    // font-size:
    // color:
}

/*------------------- List -------------------*/
.listItems {
    @extend %clearfix;
    // .items {
    //     float: left;
    // }
}
.tab-pane {
    &.product-tab {
        margin: 0 -5px;
    }
}
.carousel-inner {
    .item {
        margin: 0 -5px;
    }
}
.items-product {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 30px;
    &:hover {
        .wrapitems {
            border: 1px solid $color-b;
        }
        .order {
            opacity: 1;
            display: block;
        }
    }
    .wrapitems {
        position: relative;
        border: 1px solid transparent;
    }
    .watermark1 {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: url('../images/sale-product.png') no-repeat;
            width: 52px;
            height: 52px;
        }
    }
    .watermark2 {
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            background: url('../images/new-product.png') no-repeat;
            width: 52px;
            height: 52px;
        }
    }
    .description {
        text-align: center;
        h4 {
            font-size: 16px;
        }
        .made-in {
            color: $color-e;
            font-size: 14px;
        }
        .price {
            color: $color-8;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    .order {
        opacity: 0;
    }
}

.nav-slider {
    z-index: 99;
    position: absolute;
    top: 45px;
    &.fixed {
        z-index: 99999;
        position: fixed;
        top: 14px;
        // left: 0;
    }
    &.hidden {
        display: none;
    }
    &#nav-left {
        z-index: 90;
        position: relative;
        top: 0;
        &.fixed {
            position: fixed;
            top: 93px;
        }
        &.absolute {
            position: absolute;
            bottom: 0;
            top: inherit;
        }
        .heading-nav {
            width: 100%;
            >a {
                &:after {
                    background: none;
                }
            }
        }
        #rau-nav, #cu-nav, #qua-nav, #thit-nav, #haisan-nav {
            padding-top: 10px;
            padding-left: 30px;
            line-height: 30px;
        }
        .icon-has {
            float: right!important;
            padding-right: 20px;
            &:after {
                content: "";
                display: block;
                height: 0;
                visibility: hidden;
                display: block;
            }
        }
    }
    .heading-nav {
        // background: url('../images/icon-hand.png') no-repeat 90%;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
        &.toggle {
            >a {
                &:after {
                    background: none;
                }
            }
            background: transparent;
        }
        &.toggle-wrap {
            &.show {
                display: block;
            }
        }
        >a {
            position: relative;
            border-radius: 20px;
            font-size: 16px;
            text-transform: uppercase;
            background: url('../images/icon-line.png') no-repeat 20px;
            background-color: $color-primary;
            color: $color-a;
            width: 220px;
            height: 46px;
            display: block;
            padding: 15px 0 10px 60px;
            &:after {
                content: "";
                position: absolute;
                top: 13px;
                right: 20px;
                width: 21px;
                height: 18px;
                background: url('../images/icon-hand.png')no-repeat;
            }
        }
        &.rau-background {
            >a {
                background: url('../images/icon-rau.png') no-repeat 20px;
                background-color: $color-3;
            }
        }
        &.cu-background {
            >a {
                background: url('../images/icon-cu.png') no-repeat 20px;
                background-color: $color-4;
            }
        }
        &.qua-background {
            >a {
                background: url('../images/icon-qua.png') no-repeat 20px;
                background-color: $color-5;
            }
        }
        &.thit-background {
            >a {
                background: url('../images/icon-thit.png') no-repeat 20px;
                background-color: $color-6;
            }
        }
        &.ca-background {
            >a {
                background: url('../images/icon-ca.png') no-repeat 20px;
                background-color: $color-7;
            }
        }
    }
    .toggle-in {
        display: none;
    }
    .flag {
        display: block;
    }
    .toggle-sub {
        &.flag {
            display: block!important;
        }
    }
}

.wrap-breadcrumb {
    background: $color-f;
    .breadcrumb {
        margin-bottom: 0px;
        background: $color-f;
        a {
            color: $color-d;
            font-size: 13px;
        }
    }
}
.phantrang {
    display: flex;
    justify-content: center;
    li {
        border-radius: 5px;
        background: $color-g;
        margin: 0 3px;
        a {
            display: inline-block;
            padding: 10px 14px;
        }
        &.active {
            color: $color-a;
            background: $color-primary;
            &:hover {
                a {
                    color: $color-a;
                }
            }
        }
    }
}
.bg-blur {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
    }
}
.bg-gradient {
    padding-bottom: 60px!important;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 63px;
        // background: url('../images/bg-gradient.jpg') center;
        background: linear-gradient(transparent, rgba(0,0,0,0.1));
        // background: red;
    }
}
.order {
    // display: none;
    // opacity: 0;
    transition: all 400ms;
    a {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        color: $color-a;
        background: url('../images/icon-cart.png') no-repeat 12% $color-primary;
        padding: 12px 0 10px;
        text-align: center;
    }
}
.btn-control-slider {
    position: relative;
    bottom: -1px;
}

.right-sidebar {
    // padding-top: 30px;
    .panel {
        margin-bottom: 30px;
        &.panel-default {
            border-radius: 0px;
            border: 1px solid $color-b;
        }
        .panel-body {
            font-size: 12px;
            padding: 15px 0;
            margin-left: 15px;
            margin-right: 15px;
            &:not(:last-child) {
                border-bottom: 1px solid $color-b;
            }
        }
    }
    .panel-heading {
        font-size: 16px;
        padding: 15px;
        font-weight: bold;
        color: $color-a;
        border-radius: 0;
        text-transform: uppercase;
        background: $color-primary;
        border-bottom: 0;
        &.other {
            background: $color-a;
            color: $color-e;
            padding-bottom: 0;
        }
    }
    .other-news {
        .avatar-other {
            padding-right: 0;
        }
        .detail-other {
            padding-left: 10px;
        }
    }
}
// .fadeTop {
//     opacity: 0;
//     transform: translate(0px, 100px);
//     transition: all 0.5s;
// }
// .fadeTop.ef-slide {
//     opacity: 1;
//     transform: translate(0px, 0px);
// }
