// **********************************
//   font-face
// **********************************
// @font-face {
//   font-family: "UTM Alexander";
//   src: url(asset-path("../fonts/UTM Alexander.ttf"));
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "futura-medium";
//   src: url(asset-path("fonts/futura-medium.eot"));
//   src: url(asset-path("fonts/futura-medium.woff")) format("woff"),
//   url(asset-path("assets/fonts/futura-medium.ttf")) format("truetype"),
//   url(asset-path("fonts/futura-medium.svg")) format("svg");
//   font-weight: normal;
//   font-style: normal;
// }

// **********************************
//   font-family
// **********************************
// $font-body: "Roboto", sans-serif;
$font-text: "Roboto", sans-serif;

$font-heading: "Roboto", sans-serif;
$font-awesome: "FontAwesome";

// **********************************
//   COLOR
// **********************************
// Brand Color
$color-primary: #416557;
$color-1: #f0f0f0;
$color-2: #f78f1e;
$color-3: #39b54a;
$color-4: #905d14;
$color-5: #ff6626;
$color-6: #cb3d2f;
$color-7: #6fb0d0;
$color-8: #d60c0c;

// Application Color
$color-a: #ffffff;
$color-b: #e6e6e6;
$color-c: #333;
$color-d: #999999;
$color-e: #777;
$color-o: #000;


// **********************************
//   EXTENDS
// **********************************

%clearfix {
    &:after {
        content: "";
        clear: both;
        display: block;
        height: 0;
        visibility: hidden;
    }
}
%padding_title {
    padding-left: 3%;
    padding-right: 3%;
}
%padding_text {
    padding-left: 3%;
    padding-right: 3%;
}
%duration {
    transition-duration: 400ms;
}
